.btn-1 {
  width: 100%;
  display: inline-block;
  padding: 5px 16px;
  font-weight: 10;
  font-family: dosis !important;
  background-color: $color-white;
  color: $pColor !important;
  // border: 1px solid $pColor;
  @include ease-transition(all, 0.4s, ease-in-out);
  text-transform: uppercase;
  background-size: 300% 100%;
  &:hover {
    // transform: scale(1.04);
    color: white;
    box-shadow: 0px 0px 6px rgba(171, 171, 171, 0.401);
  }
}

.btn-1.active {
  background-color: $pColor;
  color:  $color-white !important;
}

