.custom-shape-divider-top-1651954358 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1651954358 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 84px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1651954358 .shape-fill {
    fill: #2B8DD0;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1651954358 svg {
        width: calc(100% + 1.3px);
        height: 92px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1651954358 svg {
        width: calc(168% + 1.3px);
        height: 58px;
    }
}

.custom-shape-divider-bottom-1651954456 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1651954456 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 84px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1651954456 .shape-fill {
    fill: #2B8DD0;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1651954456 svg {
        width: calc(100% + 1.3px);
        height: 92px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1651954456 svg {
        width: calc(168% + 1.3px);
        height: 58px;
    }
}