.profile-container {
  .j-c-left {
    .j-c-left-inner {
      background-color: white;
    }

    h5 {
      color: $textColor-1;
    }
  }

  .j-c-right {
    padding-left: 10px;

    .j-c-right-inner {
      background-color: white;
    }

    h6 {
      color: transparentize($pColor, $amount: .4);
      font-family: dosis, sans-serif;
      font-size: large;
      text-transform: uppercase;
    }
  }
}

.profile-img-container {
  cursor: pointer;
  position: relative;

  .upload-btn-fp {
    position: absolute;
    width: 100px;
    display: none !important;
    height: 100px;
    border-radius: 50%;
    border: 1px solid blue;
    background: transparentize($color: #000000, $amount: .6);

    span {
      color: white !important;
    }
  }


  &:hover {
    .upload-btn-fp {
      display: flex !important;
    }
  }
}

.profile-image {
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
  border: 3px solid transparentize($pColor, $amount: .3);
  font-size: large;
  color: white;
  background-color: transparentize($pColor, $amount: .3);
  border-radius: 50%;
  cursor: pointer;
}

.settings {
  background-color: white;

  .setting-item {
    border: 1px solid rgb(223, 223, 223);
  }
  h4 {
    color: $textColor-1;
  }
}

.st-verified,
.st-accepted {
  span {
    background-color: rgb(84, 173, 118);
    color: white !important;
    padding-right: 25px;
    padding-left: 10px;
    border-radius: 30px;
    font-family: dosis;
    font-weight: 500;
    font-size: large;

    i {
      margin-top: -2px;
    }
  }
}

.st-pending {
  span {
    background-color: rgb(203, 203, 114);
    color: white !important;
    padding-right: 25px;
    padding-left: 10px;
    border-radius: 30px;
    font-family: dosis;
    font-weight: 500;
    font-size: large;

    i {
      margin-top: -2px;
    }
  }
}

.st-unverified {
  span {
    background-color: rgb(162, 162, 162);
    color: white !important;
    padding-right: 25px;
    padding-left: 10px;
    border-radius: 30px;
    font-family: dosis;
    font-weight: 500;
    font-size: large;

    i {
      margin-top: -2px;
    }
  }
}

.st-rejected {
  span {
    background-color: rgb(190, 94, 94);
    color: white !important;
    padding-right: 25px;
    padding-left: 10px;
    border-radius: 30px;
    font-family: dosis;
    font-weight: 500;
    font-size: large;

    i {
      margin-top: -2px;
    }
  }
}

.toggle-switch {

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}